@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-900: rgb(128, 128, 128);
  --black-900: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
}

html {
  font-size: 16px;
}

.App {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
}